*{
    transition: 300ms;
    margin: 0;
    padding: 0;
    font-family:'Century Gothic', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background: black;
    color: white;
    overflow-x: hidden;
}

.logo-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center;
    margin-left:120px;
}

.logo {
    width: 300px;
    height: auto;
}

.underlogotext {
    display: flex;
    justify-content: left;
    font-family: 'Dancing Script';
    font-size: 19px;
    font-style: italic;
    margin-top: 10px;
}

#header {
    width: 100%;
    height: 100vh;
    background-image: url(images/background.png);
    background-size: cover;
    background-position: center;
}

.container {
    height: 80px;
    width: 45%;
    position: fixed;
    top: 0;
    z-index: 100;
    background: linear-gradient(to right, rgba(26, 22, 27, 0.74) 0%, rgba(26, 22, 27, 0) 100%);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.maintitle a {
    opacity: 1;
    font-size: 110%;
    font-weight: bold;
    color:#e5eafc;
    padding: 10px 20px;
    background-color: #a28ff43c;
    border-radius: 50px;
}

.maintitle a:hover {
    color: #e5eafc;
    background-color: #a28ff48f;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin-top: 30px;
    margin-left: 30px;
}

nav ul li a {
    font-weight: 400;
    color: #e5eafc;
    text-decoration: none;
    border-radius: 100px;
    cursor: pointer;
    opacity: 0.6;
    position: relative;
}

nav ul li a:hover {
    opacity: 1;
    color:#bed6ff;
}

nav ul li:not(.maintitle) a::after {
    content: '';
    width: 0;
    height: 1px;
    background: #bed6ff;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

nav ul li:not(.maintitle) a:hover::after {
    width: 100%
}

/* --- o mnie --- */

#about {
    padding: 70px;
    background-color: rgb(31, 29, 36);
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;
}

.about-col-1 img {
    width: 90%;
    border-radius: 20px;
}

.about-col-2 {
    flex-basis: 63%;
    color: #bccff0;
}

.undertext {
    margin-top: 20px;
    letter-spacing: 1px;
    color: white;
}

/* SKILLE */

#skills {
    padding: 70px;
    /*background-color: rgb(244, 240, 245);*/
    background-image: url(images/testbackgroundskills.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

