body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

#grid {
    background-color: black;
    display: grid;
    padding: 20px;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    grid-template-columns: 100px 200px 100px;
}

.griditem {
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-variant: small-caps;
    padding: 8px;
    text-align: center;
}

.row > div {
    padding: 20px;
    background-color: teal;
    border: 2px solid black;
}

/*
*/